.hero-container{
  
    background: linear-gradient(to bottom, rgba(229, 239, 255, 1) 0%, rgba(229, 239, 255, 0.2627), rgba(229, 239, 255, 0) 100%);
 
}

.vector{
    width: 600px;
    height: 600px;
   margin-left: 940px;
 transition: -10%;
   
}